<div id="addSectionModal" class="modal modal-fixed-footer">
	<div class="modal-content ">
		<h4 class="grey-text">Ajouter une section</h4>
		<div class="row">
			<repeat group="{{ @modulesList }}" value="{{ @module }}">
				<div class="col s12 m6">
					<div class="card">
						<div class="card-image">
							<img src="images/sample-1.jpg">
							<span class="card-title">{{@module[title]}}</span>
							<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>{{@module[description]}}</p>
						</div>
					</div>
				</div>
			</repeat>
		</div>

	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">clears</i></a>
	</div>
</div>