<div class="main-background">
	<div class="container module">
		<div class="section">

			<!--   Icon Section   -->
			<div class="row ">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center second-color"><i class="material-icons" id="moduleValue-icon1">{{@fields['icon1']['value']}}</i></h2>
						<h5 class="center main-color title-font" id="moduleValue-title1">{{@fields['title1']['value']}}</h5>

						<p class="light main-color main-font main-font" id="moduleValue-content1">{{@fields['content1']['value']}}</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center second-color"><i class="material-icons" id="moduleValue-icon2">{{@fields['icon2']['value']}}</i></h2>
						<h5 class="center main-color title-font" id="moduleValue-title2">{{@fields['title2']['value']}}</h5>

						<p class="light main-color main-font" id="moduleValue-content2">{{@fields['content2']['value']}}</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center second-color"><i class="material-icons" id="moduleValue-icon3">{{@fields['icon3']['value']}}</i></h2>
						<h5 class="center main-color title-font" id="moduleValue-title3">{{@fields['title3']['value']}}</h5>

						<p class="light main-color main-font" id="moduleValue-content3">{{@fields['content3']['value']}}</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>