<div class="parallax-container valign-wrapper module paralax" >
	<div class="section no-pad-bot relative">
		<a class="btn-floating waves-effect waves-light edit-btn relative tooltipped moduleBtn editParalaxImage" data-position="right"
		   data-delay="250" data-tooltip="modifier l'image" id="editParalaxImage-{{@id}}" style=" left: 60px; top: -50px; z-index: 1000">
			<i class="material-icons">image</i></a>
		<div class="container">
			<div class="row center">
				<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
			</div>
		</div>
	</div>
	<div class="parallax"><img src="/public/img/background3.jpg" alt="Unsplashed background img 2"></div>
</div>
