/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body, html{
	overflow-x: hidden;
}
nav ul a,
nav .brand-logo {
	color: #444;
}

p {
	line-height: 2rem;
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}

	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}
.borderInBox {
	-webkit-box-shadow:inset 0px 0px 0px 6px #C48A1B;
	-moz-box-shadow:inset 0px 0px 0px 6px #C48A1B;
	box-shadow:inset 0px 0px 0px 6px #C48A1B;
}
/*******************************
		COLORS
 */
.frama-purple {
	background-color: #635182 !important;
}

.frama-purple-text {
	color: #635182 !important;
}
.frama-orange {
	background-color: #C48A1B !important;
}

.frama-orange-text {
	color: #C48A1B !important;
}

.hover-frama-purple:hover {
	background-color: #635182 !important;
}

.hover-frama-orange:hover {
	background-color: #C48A1B !important;
}
.frama-border-orange:hover {
	border: 4px solid #C48A1B
}
/****************************
TOOLS
 */
.no-margin {
	margin: 0 !important;
}

.small-margin {
	margin: 5px !important;
}

.small-padding {
	padding: 10px !important;
}

.no-padding {
	padding: 0 !important;
}

.inline-block {
	display: inline-block !important;
}

.static {
	position: static !important;
}

.relative {
	position: relative !important;
}

.absolute {
	position: absolute !important;
}

.hidden {
	visibility: hidden !important;
}

.displaynone {
	display: none;
}

.light-opacity {
	opacity: 0.9 !important;
}

.opacity1 {
	opacity: 1 !important;
}

.btn-floating {
	webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.75) !important;
}

.fixed {
	position: fixed !important;
}

.big-modal {
	width: 85% !important;
	max-height: 80% !important;
	height: 80% !important;
}
.small-modal {
	width: 60% !important;
	max-height: 50% !important;
	height: 50% !important;
}
.show-on-li-hover{
	visibility: hidden;
}
li:hover .show-on-li-hover{
	visibility: visible;
}
.show-on-section-hover{
	opacity: 0 !important;
}
section:hover .show-on-section-hover{
	opacity: 1 !important;
}
.children-hover{
	opacity: 0;
}
.parent-hover:hover .children-hover{
	opacity: 1;
}
.lightButton{
	background-color: rgba(255, 255, 255, 0.24);
}
.lightButton:hover{
	background-color: #C48A1B;
}
.lightButton:hover i{
	color: white !important;
}
.lightButton i{
	color: #1e1e1e !important;
}

section:hover .show-on-li-hover{
	visibility: visible;
}

.addSectionBtn{
	visibility: hidden;
}
.addSectionBtn-parent:hover .addSectionBtn{
	visibility: visible;
}
.moduleBtn{
	opacity:0;
}
.module:hover .moduleBtn{
	opacity: 1;
}
.edit-btn{
background-color: rgba(196, 138, 27, 0.89) !important;
}
.col5{
	width: 20%;
}


.shadow-bottom{
	-webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
.light-shadow{
	-webkit-box-shadow: 6px 6px 17px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 17px -5px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 17px -5px rgba(0,0,0,0.75);
}
.blockList{
	width: 100% !important;

	height: auto;
}
.columnContainer{
	/* Prevent vertical gaps */
	line-height: 0;

	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;
}
.columnItem{
	/* Just in case there are inline attributes */

	height: auto !important;
	margin: 20px 10px !important;
}

@media (max-width: 1400px) {
	.columnContainer {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
}

@media (max-width: 800px) {
	.columnContainer {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
}
@media (max-width: 400px) {
	.columnContainer {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
}
.pickUpImageToUglyForm:hover{
	border: 4px solid #C48A1B;
	cursor: pointer !important;
}

