<footer class="page-footer second-background base">
	<div class="container main-color">
		<div class="row">
			<div class="col l6 s12 main-font">
				<h5 class="second-color">Company Bio</h5>
				<p class="second-color">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


			</div>
			<div class="col l3 s12 main-font">
				<h5 class="second-color ">Settings</h5>
				<ul>
					<li><a class="second-color" href="#!">Link 1</a></li>
					<li><a class="second-color" href="#!">Link 2</a></li>
					<li><a class="second-color" href="#!">Link 3</a></li>
					<li><a class="second-color" href="#!">Link 4</a></li>
				</ul>
			</div>
			<div class="col l3 s12">

				<ul>
					<li class="center-align"><a class=" modal-trigger white-text small-modal second-color main-font" href="#login-modal" >Administration du site</a></li>
					<div id="login-modal" class="modal modal-fixed-footer">
						<div class="modal-content ">
							<h4 class=" ">Connexion Administrateur</h4>
							<div class="valign-wrapper col m8 offset-m2 " >
								<include href="./base/includes/loginForm.htm" />
							</div>

						</div>
						<div class="modal-footer">
							<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">clears</i></a>
						</div>
					</div>

				</ul>
			</div>
		</div>
	</div>
	<div class="" style="background-color: rgba(0,0,0,0.28)">
		<div class="footer-copyright second-color" >
			<div class="container">
				Made by <a class="" href="https://frama.site/"><b>FramaSites</b></a> with <a class="" href="http://materializecss.com">Materialize</a>
			</div>
		</div>
	</div>

</footer>

