
blabla
<div id="siteOptionsModal" class="modal modal-fixed-footer big-modal" style="background-color: rgba(255,255,255,0.90) !important;">
	<div class="modal-content no-padding" >

		<div class="row  no-margin">
			<div class="col s12 no-padding">
				<ul class="tabs .tabs-fixed-width">
					<li class="tab col col5"><a class="frama-orange-text" href="#options-themes">Thèmes</a></li>
					<li class="tab col col5"><a class="frama-orange-text" href="#options-polices">Polices</a></li>
					<li class="tab col col5"><a class="frama-orange-text" href="#options-images">Images</a></li>
					<li class="tab col col5"><a class="frama-orange-text" href="#options-params">Parametres</a></li>
					<li class="tab col col5"><a class="frama-orange-text" href="#options-infos">Infos</a></li>
				</ul>
			</div>
			<div id="options-themes" class="col s12">Test 1</div>
			<div id="options-polices" class="col s12">Test 1</div>
			<div id="options-images" class="col s12">Test 2</div>
			<div id="options-params" class="col s12">Test 3</div>
			<div id="options-infos" class="col s12">Test 4</div>
		</div>

	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">clears</i></a>
	</div>
</div>