<div id="add-to-menu-modal" class="modal modal-fixed-footer small-modal">
	<div class="modal-content ">
		<h4 class="grey-text">Ajouter cette section au menu</h4>
		<form method="post" action="admin/edit/add_to_menu" class="addToMenuForm" >
			<input type="text" class="displaynone" name="CSRFToken" value="{{@CSRFToken}}">
			<input type="text" name="id" class="displaynone">
			<div class="row" style="margin-top: 30px">
				<div class="input-field col s12 m6 offset-m3">
					<input  name="label" type="text" required class="validate grey-text">
					<label for="add-to-menu-label">Nom tel qu'affiché dans le menu</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 center-align">

					<button type="submit" class=" frama-purple hover-frama-orange waves-effect waves-light btn"><i class="material-icons right">menu</i>Ajouter au menu</button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">clears</i></a>
	</div>
</div>