<!DOCTYPE html>
<html lang="fr">
<include href="./base/includes/head.htm" />
<body>
{* ajout des boutons supérieurs si l'utilisateur est connecté en tant qu'admin*}
<include if="{{ @isAdmin }}" href="./base/includes/adminButtons.htm" />


<include href="./base/nav/nav.htm" />


<div class="row" style="min-height: 100vh; padding-top: 50px;">
	<check if="{{ @SESSION.loginPageMessage }}">
		<div class="row">
			<p class="frama-orange-text center-align">
				{{@SESSION.loginPageMessage}}
			</p>
		</div>
	</check>
	<div class="col s12 m6 offset-m3">
		<include  href="./base/includes/loginForm.htm" />
	</div>
</div>


<include href="./base/footer/footer.htm" />


<!--  Scripts-->
<include href="./base/includes/scripts.htm" />

</body>
</html>