<!DOCTYPE html>
<html lang="fr">
<include href="./base/includes/head.htm"/>
<body>
{* ajout des boutons supérieurs si l'utilisateur est connecté en tant qu'admin*}
<include if="{{ @isAdmin }}" href="./base/includes/adminButtons.htm"/>

<include href="./base/nav/nav.htm"/>

<repeat group="{{ @siteStructure }}" key="{{ @position }}" value="{{ @section}}">
	<section class="relative moduleSectionContainer" id="{{@section[id]}}">
		<include if="{{ @isAdminPage }}" href="./base/editBtns/addSection.htm" with="reference={{@section[id]}},positionReference='before'"/>
		<include href="{{ './modules/' . @section['module'] . '/module.htm' }}" with="id={{@section[id]}},fields={{@section[fields]}}"/>
		<check if="{{ @isAdminPage }}">
			<check if="{{ @position === count(@siteStructure)-1 }}">
				<include  href="./base/editBtns/addSection.htm" with="reference={{@section[id]}},positionReference='after'"/>
			</check>

			<include  href="./base/generalModuleOptions/generalModuleOptions.htm" with="id={{@section[id]}}" />
		</check>

	</section>
</repeat>


<include href="./base/footer/footer.htm"/>
<check if="{{ @isAdminPage }}">
	<include  href="./base/editBtns/addSectionModal.htm"/>
	<include  href="./base/includes/saveBtn.htm"/>
	<include href="./base/generalModuleOptions/addToMenuModal.htm"/>
	<include href="./base/uglyForm/uglyForm.htm" />
	<include href="./base/siteOptionsModal/siteOptionsModal.htm" />
</check>

<!--  Scripts-->
<include href="./base/includes/scripts.htm"/>

</body>
</html>