<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Parallax Template - Materialize</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<include href="./base/nav/nav.htm" />

<include  href="./modules/paralax/module.htm" />
<include href="./modules/threeGoals/module.htm" />
<include  href="./modules/paralax/module.htm" />
<include href="./modules/textSection/module.htm"/>
<include  href="./modules/paralax/module.htm" />

<include href="./base/footer/footer.htm" />


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/public/js/materialize.js"></script>
<script src="/public/js/init.js"></script>
<script src="/app/views/base/nav/nav.js"></script>
<script src="/app/views/base/footer/footer.js" ></script>
</body>
</html>