
{*Template comprenant le head du html avec l'inclusion des feuilles de style*}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{{ @siteName}}</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>