<form class="col s12" method="POST" action="/authenticate">
	<div class="row" style="margin-top: 30px">
		<div class="input-field col s12 m6">
			<input id="username" name="username" type="text" required class="validate grey-text">
			<label for="username">Nom d'utilisateur</label>
		</div>
		<div class="input-field col s12 m6">
			<input id="password" name="password" type="password" required class="validate grey-text">
			<label for="password">Mot de passe</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12 center-align">
			<button type="submit" class=" frama-orange hover-frama-purple waves-effect waves-light btn"><i class="material-icons white-text right">verified_user</i>connexion</button>
		</div>
	</div>
</form>